/* 
    Created on : Nov 6, 2017, 12:23:27 PM
    Author     : Horatiu Cristea-Lubinschi <horatiu.cristea@gmail.com>
*/

.Chart-graphWrapper {
	width: 100%;
	height: 500px;
}

.dygraph-label-rotate-right {
	transform: rotate(-90deg);
}
.dygraph-ylabel {
	text-align: center;
}

.dygraph-title {
	text-align: left;
	font-weight: bold;
}

.dygraph-legend {
	text-align: right;
}