/* 
    Created on : Nov 6, 2017, 12:14:00 PM
    Author     : Horatiu Cristea-Lubinschi <horatiu.cristea@gmail.com>
*/

.History {
	margin-top: 10px;
}

.History button {
	display: inline-block; 
	margin-left: 7px;
}