body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #f1f1f1;
}

h1, h2, h3 {
	font-style: inherit;
    margin-top: 28px;
	color: #172B4D;
	font-weight: bold;
}

h1 {
    font-size: 1.71428571em;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 1.16666667;
}

h2 {
	font-size: 1.42857143em;
    font-weight: 500;
    letter-spacing: -.008em;
    line-height: 1.2;
}

h3 {
    font-size: 1.14285714em;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.006em;
    margin-top: 24px;
}